* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }

:root{
    /* System greys */
	--SystemLightestGrey: #DCDEDF;
    --SystemLighterGrey: #B8BCBF;
    --SystemLightGrey: #8B929A;
    --SystemGrey: #67707B;
    --SystemDarkGrey: #3D4450;
    --SystemDarkerGrey: #23262E;
    --SystemDarkestGrey: #0E141B;

    /* Store blue greys */
    --StoreLightestGrey: #CCD8E3;
    --StoreLighterGrey: #A7BACC;
    --StoreLightGrey: #7C8EA3;
    --StoreGrey: #4e697d;
    --StoreDarkGrey: #2A475E;
    --StoreDarkerGrey: #1B2838;
    --StoreDarkestGrey: #000F18;

    /* Gradients */
    --Gradient-StoreBackground: linear-gradient(180deg, var(--StoreDarkGrey) 0%, var(--StoreDarkerGrey) 80%);
    --Gradient-LibraryBackground: radial-gradient(farthest-corner at 40px 40px,#3D4450 0%, #23262E 80%);

    /* Colours */
    --Color-Blue: #1A9FFF;
    --Color-BlueHi: #00BBFF;
    --Color-Green: #5ba32b;
    --Color-GreenHi: #59BF40;
    --Color-Orange: #E35E1C;
    --Color-Red: #D94126;
    --Color-RedHi: #EE563B;
    --Color-DustyBlue: #417a9b;
    --Color-LightBlue: #B3DFFF;
    --Color-Yellow: #FFC82C;
    --Color-ChalkyBlue: #66C0F4;

    /* Main Colors */
    --Text-Main: #F3F3F3;
    --Text-Dim: #76808C;
    --Background-Main: #0E141B;
    --Background-Highlight: #1E2329;
    --Background-Hover: #313843;
    --Background-Secondary: #14344B;
    --Background-Tertiary: #212B45;
    
    --Color-Primary: #66C0F4;
    --Color-Secondary: #4B619B;

    --Accent-Primary: #A1CD44;
    --Accent-Red: #CD5444;
    --Accent-Yellow: #C1B15F

    /* Backgrounds */
    --Background-LightSofter: #6998bb24;
    --Background-LightSoft: #3b5a7280;
    --Background-LightMedium: #678BA670;
    --Background-LightHard: #93B8D480;
    --Background-LightHarder: #aacce6a6;
    --Background-DarkSofter: #0e141b33;
    --Background-DarkSoft: #0e141b66;
    --Background-DarkMedium: #0e141b99;
    --Background-DarkHard: #0e141bcc;
    --Background-Neutral-LightSofter: rgba(235, 246, 255, 0.10);
    --Background-Neutral-LightSoft: rgba(235, 246, 255, 0.20);
    --Background-Neutral-LightMedium: rgba(235, 246, 255, 0.30);
    --Background-Neutral-LightHard: rgba(235, 246, 255, 0.40);
    --Background-Neutral-LightHarder: rgba(235, 246, 255, 0.50);


    /* Parameters */
    --Border-Radius: 3px;
}

@font-face {
    font-family: 'MotivaSans';
    src:url('/public/fonts/MotivaSansRegular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'MotivaSans';
    src:url('/public/fonts/MotivaSansBold.ttf');
    font-weight: bold;
}

.HeadingLarge{
    font-family:'MotivaSans', Arial, sans-serif;
    font-size: 26px;
    font-weight: bold;
}

.HeadingMedium{
    font-family:'MotivaSans', Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.HeadingSmall{
    font-family:'MotivaSans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.BodyLarge{
    font-family:'MotivaSans', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.BodyMedium{
    font-family:'MotivaSans', Arial, sans-serif;
    font-size:14px;
    font-weight: normal;
}

.BodySmall{
    font-family:'MotivaSans', Arial, sans-serif;
    font-size:12px;
    font-weight: normal;
}


.NavIcon{
    object-fit: contain;
    width: 80px;
    height: 60px;
}
/* HTML STYLING STARTS FROM HERE */

html {
    height: 100%;
  }

body{
    background: linear-gradient(180deg, #040011 13.77%, #202B3C 27.29%, #202B3C 27.29%);
}


.navbar{
    display: flex;
    width:100%;
    height: 60px;
    flex-shrink: 0;
    background: var(--Background-Main, #0E141B);
    align-items: center;
    align-content: center;
    justify-content:space-between;
    padding:0px 15px 0px 15px;
}

.nav-group{
    display: inline-flex;
    align-items: center;
    gap: 30px;
}

.nav-select{
    color: var(--Color-Primary, var(--Color-Primary, #66C0F4));
    background-color: transparent;
    border:none;
    cursor:pointer;
}

.nav-pages{
    background-color: transparent;
    border:none;
    color: var(--Text-Main);
    cursor: pointer;
}

.nav-pages:hover{
    color: var(--Text-Dim);
}

.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 56px;
    height: 38px;
    border-radius: var(--Border-Radius);
    border: none;
    background: var(--Background-Highlight, #1E2329);
    cursor: pointer;
}

.profile-group{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.profile-button{
    display:inline-flex;
    justify-content: center;
    align-items:center;
    height: 40px;
    gap:8px;
    background:var(--Background-Highlight, #1E2329);
    border-radius: var(--Border-Radius, 3px);
    padding: 8px;
}

.profile-button > p{
    color:var(--Text-Main);
}


.action-nav{
    display: flex;
    width:100%;
    height: 57px;
    flex-shrink: 0;
    background: var(--Background-Tertiary, #212b45);
    align-items: center;
    align-content: center;
    justify-content:space-between;
    padding:0px 15px 0px 15px;
}

.action-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.action-btn{
    display: flex;
    padding: 13px 18px;
    border: none;
    background:none;
    color: var(--Text-Main, var(--Text-Main, #F3F3F3));
    cursor: pointer;
}

.action-select{
    background: var(--Color-Secondary, #4B619B);
    border: none;
    border-radius: var(--Border-Radius);
}


.action-search{
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--Border-radius, 3px);
    background: var(--Background-Main20, rgba(14, 20, 27, 0.20));
    padding: 20px;
    
}

.search-place{
    color: var(--Color-Secondary, var(--Color-Secondary, #4B619B));
    background: none;
    border:none;
    outline: none;
}

.search-place::placeholder{
    color: var(--Color-Secondary, var(--Color-Secondary, #4B619B));
}

.action-nav-btn{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: var(--Border-radius, 3px);
    background: rgba(118, 128, 140, 0.10);
    cursor: pointer;
}

.hero{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #040011;
}

.hero-img{
    width: 100%;
    object-fit: contain;
}

.main{
    width: 100%;
    height: 1080px;
    
    background: rgb(4,0,17);
    background: linear-gradient(180deg, rgba(4,0,17,1) 20%, rgba(32,43,60,1) 80%, rgba(32,43,60,1) 100%);
    display: flex;
}

.home-sections{
    align-items: center;
    min-width: 1200px;
    margin: 100px auto 0 auto;
}

.section-heading{
    color:var(--Text-Main, var(--Text-Main, #F3F3F3));
}


